body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Це вирівнює малюнки та текст по центру сторінки */
}

.image {
    margin: 20px auto; /* Встановлює автоматичні маргіни по верхньому та нижньому краям і автоматичний вирівнювання по горизонталі, щоб розмістити малюнки по центру */
}

.image img {
    display: block; /* Це забезпечить, що малюнки будуть вирівнюватися по центру, оскільки вони є блочними елементами */
    margin: 0 auto; /* Це вирівнює сам малюнок по центру */
}
